# Entornos virtuales
venv/
env/

# Variables de entorno y credenciales (¡MUY IMPORTANTE!)
.env
credenciales.json
credenciales_service_account.json
*.json

# Archivos temporales de Python
__pycache__/
*.pyc

# Carpeta de logs
logs/